# Vendor dependencies
vendor/

# WHMCS Specific
# Include if you are symlinking to a local WHMCS install
*.log
ajax_debug.log

# IDE and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Mobile binaries & build cache
*.apk
mobile_apk/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
local.properties
GeneratedPluginRegistrant.java
build/
pubspec.lock
.gradle/
